

li {
	
	display:inline
}

.HH2 {
	
	display: none;
}

.hi, nav {
	
	
	resize: none;
}

.img00 {
	
	
	transform: translate(0%,-10%);
}

.table2 {

	font-size: 15px;
}
.XXY {

	padding: 100px 0px;
}
